.navbar{
    padding: 0;
}
.submenu{
    display: none;
    position: absolute;
    width: 14em;
}
#ftco-nav .dropdown:hover .submenu{
    display: block;
    left: -25px;
    color: black !important;
}
